:root{

    --primario: #a871fc;
    --secundario: #ffe43b;
    --rojizo: #fa553e;
    --blanco: #ffffff;
    --primario0scuro: #6b1c6f;
    --verde: #93f194;
    --secundarioosc:  #f1d64e; 

    --fuenteprin: 'staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */

body{

    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;

}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img {
    width: 100%; /*Se pasa de max-width a width*/
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuenteprin);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/* header */
.header {

    display: flex;
    justify-content: center;
    padding: 2rem;
}

.logo-h {
    margin: 3rem 0;
    width: 25rem;

}

/* Grid */

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1 fr);
    gap: 2rem;
}

@media (min-width:768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*Productos*/

.producto {
    background-color: var(--primario0scuro);
    padding: 1rem;
}


.producto__nombre{
    font-size: 3rem;
}

.producto__precio{
    font-size: 2rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio{
    font-family: var(--fuenteprin);
    margin: 1rem 0;
    text-align: center;
}

/*Graficos*/

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.grafico--camisas{
    grid-row: 2 / 3; /*Aqui definimos la posicion de la imagen en los gris diferentes que se muestra*/
    background-image: url(../img/grafico1.jpg);
}

.grafico--node{
    grid-row: 8 / 9;
    background-image: url(../img/grafico2.jpg);
}

@media (min-width: 768px){
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/*footer*/

.footer{
    background-color:var(--primario0scuro);
    padding: 1rem;
    margin-top: 1rem;

}

.footer__text{
    font-family: var(--fuenteprin);
    text-align: center;
    font-size: 20px;
}

.navlink{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: var(--primario0scuro);
    gap: 2rem; /*Pone un espacio entre dos elementos, evitando el uso de margin*/
}

.navlink__s{
    font-family: var(--fuenteprin);
    color: var(--blanco);
    font-size: 2rem;
}

.navlink__s--activo,
.navlink__s:hover{
    color: var(--secundario);
}

/*Nosotros*/

.infous{
    display: grid;
    grid-template-rows: repeat(2, auto);
    }

.infous__img{
    grid-column: 1/2;
    grid-row: 1/2;  
}

@media (min-width: 768px){
    .infous{
    grid-template-columns: repeat(2, 1fr); /*Lo que hacemos aqui es definirle dos columnas  */
    column-gap: 2rem;
    }

    .infous__img{
        grid-column: 2/3;
    }

}

/*Bloques*/
.bloques{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 2rem;
}

@media (max-width: 768px){
    .bloques{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 2rem;
    }
}

.bloque{
    text-align: center;
}

.bloque__titulo{
    margin: 0;
}

/*Pagina del producto*/
.camisas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 2rem;
}

.form__acc{
    border: 1rem solid var(--primario0scuro);
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none; /*Quita la flecha de un select */
}

.form__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuenteprin);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 /    3;
}

.form__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioosc);
}   